PORT = 3xxx
NODE_ENV = production

LS_TOKEN = fbe68a6cb311xx0c45f92ca6xxxxxxxb1e9dc4cfex5cf5

MONGO_URI = mongodb+srv://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx.mongodb.net/Lab_Sync

IMAGEKIT_PRIVATE_KEY = private_xxxxxxxxxxxxxxxxxxxxxxxxxxx=
