PORT = 3XXX
NODE_ENV = production / development

CLIENT_URL = ***********************************

LS_TOKEN = *****************************************

MONGO_URI = mongodb+srv*****************************************************/Lab_Sync

IMAGEKIT_PRIVATE_KEY = private_***************************=
